#xx {
    display: flex;
    flex-wrap: wrap;
}

.containerr {
    width: 250px;
    height: 350px;
    margin: 10px;
    background-color: black;
    background-size: cover;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 20px #000;
}

.overlay {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    background: rgba(0, 0, 0, 0.67);
    color: #FEF5DF;
    opacity: 0;
    transition: all 0.5s;
    font-family: 'Lato', serif;
    position: relative;
}

.items {
    padding-left: 20px;
    letter-spacing: 3px;
}

.head {
    /* font-size: 10px; */
    transform: translateY(40px);
    transition: all 0.7s;
    margin-top: 90px;
}

.price {
    font-size: 22px;
    line-height: 10px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s;
}

.price .old {
    text-decoration: line-through;
    color: #b3b3b3;
}

.cart {
    font-size: 22px;
    opacity: 0;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    transform: translateY(40px);
    transition: all 0.7s;
}

.cart i {
    font-size: 16px;
}

.cart span {
    margin-left: 10px;
}

.containerr:hover .overlay {
    opacity: 1;
}

.containerr:hover .overlay .head {
    transform: translateY(0px);
}

.containerr:hover .overlay hr {
    width: 75px;
    transition-delay: 0.4s;
}

.containerr:hover .overlay .price {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
}

.containerr:hover .overlay .cart {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
}

.title {
    background: #0D0F29;
    color: #FFC40A;
    font-size: 24px;
    padding-bottom: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* searchbar */


.search-bar {
    height: 44px;
    width: 200px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    position: relative;
    background: #fff;
}

.input {
    border: none;
    height: 25px;
    width: 150px;
    color: #1b1b1b;
    font-size: 15px;
    outline: none;
}

.input:not(:placeholder-shown)+.label {
    font-size: 9px;
    top: 3px;
    color: #00c853;
}

.input:focus~.label {
    font-size: 9px;
    top: 3px;
    color: #4279a3;
    transition: all 0.5s ease;
}

.label {
    color: #aaaaaa;
    position: absolute;
    top: 13px;
    pointer-events: none;
    transition: all 0.5s ease;
}

.search-btn {
    background: #25273E;
    border-radius: 20px;
    height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    justify-content: center;
    cursor: pointer;
    right: 2px;
    position: absolute;
    transition: all 1s ease;
}

.icon {
    display: inline-flex;
}

.icon-18 {
    width: 18px;
    height: 18px;
}

.highlight {
    width: 0px;
    height: 1px;
    background: #4279a3;
    position: absolute;
    bottom: 8px;
    transition: all 1s ease;
}

.input:focus~.highlight {
    width: 150px;
    transition: all 1s ease;
}

#dataTitle {
    color: #FEF5DF;
}

#footer {
    background: #413E74;
    padding: 20px;
    box-shadow: 20px 0 0px #000;
    color: white;
    font-size: 1.5em;
    /* position: fixed; */
}
.cardbtn{
    margin-top:20px;
}
.poster
{
    /* box-shadow: 0 0 40px #000; */
}